body {
	margin: 0 auto;
	font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
ul,
ol,
li {
	list-style-type: none;
}

.wrapper {
	/* height: 100vh; */
}
.list {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}
.list_item {
	border: 1px solid black;
	width: 423px;
	position: relative;
	height: 600px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	/* justify-content: space-between; */
	padding: 25px 25px 0 25px;
}
.icon {
	width: 94px;
	height: 130px;
	padding-bottom: 24px;
}
.icon-tap {
	fill: #179d2e;
}
.icon-wrapper {
	display: flex;
	justify-content: end;
}
.item_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item_title {
	font-weight: 600;
	display: flex;
	font-size: 36px;
	line-height: 1.2;
	color: #181833;
	padding-bottom: 24px;
}
.item_list {
}
.item_list_descr {
	padding-bottom: 12px;
	position: relative;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.5;
	color: #2d2d2d;
}
.item_list_descr::before {
	content: "";
	position: absolute;
	top: 13px;
	left: -23px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
	margin-right: 8px;
}

.item_link {
	position: absolute;
	bottom: 25px;
	right: 25px;
	/* display: flex; */
	padding-top: 24px;
	/* justify-content: end; */
	font-weight: 400;
	font-size: 24px;
	line-height: 1.5;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #2d2d2d;
}
.icon-paint {
	fill: #0177b8;
}
.icon-furniture {
	fill: #f5af23;
}
.icon-electrical {
	fill: #f02e2c;
}
.icon-door {
	fill: #179d2e;
}
.icon-picture {
	fill: #0177b8;
}
.icon-instalation {
	fill: #f5af23;
}
.icon-home {
	fill: #f02e2c;
}
.icon-applications {
}

@media screen and (max-width: 768px) {
	.icon {
		width: 75px;
		height: 75px;
		padding-bottom: 14px;
	}
	.item_title {
		font-size: 24px;
	}
	.item_list_descr {
		font-size: 18px;
	}
	.list_item {
		height: 470px;
	}
	.item_link {
		font-size: 18px;
	}
}
